networks:
  dev_network:

services:
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: advertisements_flask_db
    networks:
      - dev_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d advertisements_flask_db"]
      interval: 5s
      timeout: 3s
      retries: 5

  app:
    build:
      context: .
    environment:
      PG_DSN: postgresql+asyncpg://user:password@db:5432/advertisements_flask_db
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - dev_network
    volumes:
      - .:/app

